PORT=5000
NODE_ENV=development
CORS_ORIGIN=*
DATABASE_URL="postgresql://neondb_owner:npg_iNYa0kAjnX4y@ep-cool-recipe-aya51492.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Cloudinary Media Storage Configuration
CLOUDINARY_CLOUD_NAME=dru3wnly
CLOUDINARY_API_KEY=834864448471825
CLOUDINARY_API_SECRET=qLYVI5OXK0BktWSKLughpIyen4A

# Firebase Web & Project Configuration
FIREBASE_API_KEY="AIzaSyClEYFnpPHhNLK_V3P-dZzZwSWMIpWMmZk"
FIREBASE_AUTH_DOMAIN="sifat-khan-joy.firebaseapp.com"
FIREBASE_PROJECT_ID="sifat-khan-joy"
FIREBASE_STORAGE_BUCKET="sifat-khan-joy.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="931960593210"
FIREBASE_APP_ID="1:931960593210:web:e64fa7fcb0e550361b0e03"
FIREBASE_MEASUREMENT_ID="G-0T30REJ8V1"
